*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.container{
    font-family: 'Rubik Mono One', sans-serif;
    position: relative;
}

nav{
    /* display: inline-block; */
    position: fixed;
    top: 40px;
    right: 20px;
    z-index: 100;
}

button{
    border: none;
    margin-left: 20px;
    border-radius: 50%;
}

a{
    text-decoration: none;
    color: black;
    font-family: 'Rubik Mono One', sans-serif;
    display: block;
    background-color: rgb(255, 255, 255);
    padding: 15px 19px;
    border-radius: 50%;
}

a:hover{
    border: 2px solid grey;
}

section{
    height: 100vh;
    width: 100%;
    font-size: 50px;
    text-align: center;
    position: relative;
}

section#shoesBlue{
    background-color: red;    
    color: yellow;
}

section#shoesWhite{
    background-color: green;
    color: yellow;
}

section#shoesGreen{
    background-color: yellow;
    color: green;
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main img{
    width: 100%;
}