*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    font-family: 'Rubik Mono One', sans-serif;
}

section{
    height: 100vh;
    width: 100%;
    font-size: 50px;
    text-align: center;
    position: relative;
}

section.shoesBlue{
    background-color: red;    
    color: yellow;
}

section.shoesWhite{
    background-color: green;
    color: yellow;
}

section.shoesGreen{
    background-color: yellow;
    color: green;
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main img{
    width: 100%;
    object-fit: cover;
}